*{
    margin: 0px;
    padding: 0px;;
  }
  
  body{
    font-family: Arial, Helvetica, sans-serif;
    direction:rtl;
    background-color: rgba(127, 204, 255, 0.61);
  }
  
  .container
  {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: red;
    background: linear-gradient(to bottom, rgb(6, 108, 100),  rgb(14, 48, 122));
    width: 800px;
    height: 560px;
    margin: 10% auto;;
    border-radius: 5px;
  }
  
  .content-holder
  {
    text-align: center;
    color: black;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-top: 15%;
    padding: 50px;
  }
  
  .content-holder h2
  {
    font-size: 34px;
    margin: 20px auto;
  }
  
  .content-holder p
  {
    margin: 30px auto;
  }
  
  .content-holder button
  {
    border:none;
    font-size: 15px;
    padding: 10px;
    border-radius: 6px;
    background-color: white;
    width: 150px;
    margin: 20px auto;
  }
  
  .box-2{
    background: rgba(255,255,255,0.5) ;
  
    margin: 5px;
  }
  
  .login-form-container
  {
    text-align: center;
    margin-top: 10%;
  
  }
  
  .login-form-container h1
  {
    color: black;
    font-size: 24px;
    padding: 20px;
  }
  
  .input-field
  {
    box-sizing: border-box;
    font-size: 14px;
    padding: 10px;
    border-radius: 7px;
    border: 1px solid rgb(168, 168, 168);
    width: 250px;
    outline: none;
  }
  
  .login-button{
    box-sizing: border-box;
    color: white;
    font-size: 14px;
    padding: 13px;
    border-radius: 7px;
    border: none;
    width: 250px;
    outline: none;
    background-color: rgb(56, 102, 189);
  }
  
  .button-2
  {
    display: none;
  }

  .signup-form-container
  {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    text-align: center;
    display: none;
  }
  
  .signup-form-container h1
  {
    color: black;
    font-size: 24px;
    padding: 20px;
  }
  
  .signup-button{
    box-sizing: border-box;
    color: white;
    font-size: 14px;
    padding: 13px;
    border-radius: 7px;
    border: none;
    width: 250px;
    outline: none;
    background-color: rgb(56, 189, 149);  
  }
  
.floating-label {
  position: relative;
}

.floating-label input {
  width: 250px;
}

.floating-label label {
  position: absolute;
  top: 0;
  left: 10px;
  pointer-events: none;
  transition: all 0.3s ease;
}

.floating-label input:focus + label,
.floating-label input:not(:placeholder-shown) + label {
  top: -20px;
  font-size: 12px;
  color: rgb(56, 102, 189);
}
