*{
    margin: 0px;
    padding: 0px;;
  }
  
  body{
    font-family: Arial, Helvetica, sans-serif;
    direction:rtl;
    background-color: rgba(170, 232, 152, 0.785);
  }
  
  .container
  {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: rgb(224, 141, 141);
    background-image: url('pic/7014640.jpg');
    background-size: cover;
    width: 800px;
    height: 712px;
    margin-inline: auto;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .content-holder
  {
    text-align: center;
    color: black;
    font-size: 14px;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-top: 80%;
    padding: 50px;
  }
  
  .content-holder h2
  {
    font-size: 34px;
    margin: 20px auto;
  }
  
  .content-holder p
  {
    margin: 30px auto;
  }
  
  .content-holder button
  {
    border:none;
    font-size: 15px;
    padding: 10px;
    border-radius: 6px;
    background-color: white;
    width: 150px;
    margin: 20px auto;
    cursor: pointer;
  }
  .form{
    margin-inline: auto;
    margin-top: 70px;
  }
  
  .box-2{
    background: rgba(255,255,255,0.5) ; 
    margin: 5px;
    height: 700px;
  }
  
  .login-form-container
  {
    text-align: center;
    margin-top: 10%;
  }
  .login-form-container label{
    margin-right: 30px;
  }
  
  .login-form-container h1
  {
    color: black;
    font-size: 24px;
    padding: 20px;
  }
  .form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .form-control label{
    display: inline-block;
    margin-bottom: 5px;
    text-align: right;
    margin-right: 125px;
  }
  .form-control input{
    border-radius: 7px;
    border: 1px solid rgb(168, 168, 168);
    display: block;
    font-size: 14px;
    width: 250px;
    padding: 10px;
    margin-inline: auto;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  } */
  .form-control.success input{
    border-color:rgb(20, 207, 20);
  }
  .form-control.error input{
    border-color: red;
  }
  .form-control small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    margin-right: 125px;
  }
  .form-control.error small{
   visibility: visible;
   color: red;
  }
  #select{
    width: 285px;
    height: 35px;
    margin-inline: auto;
    border-radius: 7px;
    border: 1px solid rgb(168, 168, 168);
  }

  .gender{
    margin-top: -10px;
    text-align: right;
    margin-right: 125px;
    margin-bottom: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.checkbox{
    margin-top: 10px;
    text-align: right;
    margin-right: 125px;
    margin-bottom: 12px;
  }

  .login-button{
    box-sizing: border-box;
    color: white;
    font-size: 14px;
    padding: 13px;
    border-radius: 7px;
    border: none;
    width: 280px;
    outline: none;
    background-color: rgb(56, 102, 189);
    cursor: pointer;
  }
  
  .button-2
  {
    display: none;
  }

  .signup-form-container
  {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-60%);
    text-align: center;
    display: none;
  }
  
  .signup-form-container h1
  {
    color: black;
    font-size: 24px;
    padding: 20px;
  }
  
  .signup-button{
    box-sizing: border-box;
    color: white;
    font-size: 14px;
    padding: 13px;
    border-radius: 7px;
    border: none;
    width: 280px;
    outline: none;
    background-color: rgb(56, 189, 149); 
    cursor: pointer; 
  }

  /* icons */
  #userName1{
    background: url(pic/user.png) no-repeat ;
    background-color: aliceblue;
    background-position: right;
    background-size: 17px;
    padding-right: 25px;
  }
  #pass1{
    background: url(pic/pass.png) no-repeat ;
    background-color: aliceblue;
    background-position: right;
    background-size: 17px;
    padding-right: 22px;
  }
  #userName{
    background: url(pic/user.png) no-repeat ;
    background-color: aliceblue;
    background-position: right;
    background-size: 17px;
    padding-right: 25px;
  }
  #pass{
    background: url(pic/pass.png) no-repeat ;
    background-color: aliceblue;
    background-position: right;
    background-size: 17px;
    padding-right: 22px;
  }
  #email{
    background: url(pic/email.png) no-repeat ;
    background-color: aliceblue;
    background-position: right;
    background-size: 17px;
    padding-right: 25px;
  }
  #phoneN{
    background: url(pic/phone.png) no-repeat ;
    background-color: aliceblue;
    background-position: right;
    background-size: 17px;
    padding-right: 25px;
  }
  #nationalC{
    background: url(pic/nCode.png) no-repeat ;
    background-color: aliceblue;
    background-position: right;
    background-size: 17px;
    padding-right: 25px;
  }
 
  
