/* styles.css */
html{
    direction: rtl;
  }
  /* Header */
  nav {
      background-color: #ffffff;
    }

 #log{
     border: 1px solid gray;
        border-radius: 15px;
      background-color: rgba(237, 235, 212, 0.882);
      }