/* body{
    background-color: beige;
}
.container{
    background-color: aquamarine;
    height: 600px;
    width: 400px;
    margin-inline: auto;
 
}
.box{
    background-color: blue;
    height: 500px;
    width: 300px;
    margin-inline: auto;
    margin-top: 50px;
} */

      /* CSS Styles */
      body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
        direction: rtl;
      }
      
      .container {
        width: 800px;
        height: 600px;
        margin: 50px auto;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      }
      
      .profile {
        display: flex;
        align-items: center;
      }
      
      .profile-image {
        /* position: fixed; */
        width: 110px;
        height: 110px;
        border-radius: 50%;
        object-fit: cover;
        margin-top: -105px;
        margin-right: 20px;
        margin-left: 20px;
      }
      
      .profile-details {
        flex: 1;
      }
      
      .profile-name {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 10px;
      }
      
      .profile-email {
        font-size: 16px;
        color: #888;
        margin-bottom: 20px;
      }
      
      .profile-bio {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 20px;
      }
      
      .profile-button {
        display: flex;
      }
      
      .profile-button button {
        display: inline-block;
        width: 100px;
        height: 50px;
        background-color: #eee;
        border-radius: 20%;
        margin-right: 10px;
        text-align: center;
        line-height: 30px;
        color: #000;
      }
      .profile-button button:hover{
        cursor: pointer;
      }
    